body{
    background-image: url(https://cdn.wallpapersafari.com/1/32/FpDfVZ.jpeg);
}

#intro{
    color: blue;
}

.crawler{
    color: #ffe81f;
    text-align: justify;
    font-family: Star jedi;
    margin:10%
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

img{
    margin-left: 240px;
}
