@font-face{
    font-family: "Star jedi";
    src: url("./font/Starjedi.ttf") format("truetype");
}

body{
    background-image: url(https://cdn.wallpapersafari.com/1/32/FpDfVZ.jpeg);
    background-size: cover;
    overflow: hidden;
    background-attachment:fixed;
    background-position:center center;
    font-family: "Star jedi";
}

#wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.intro{
    color: #3ebddb;
    text-align: center;
    animation: fadeIn ease 240s infinite;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    position: relative;
    grid-column: 1/1;
    grid-row: 1/1;
    font-size: 20pt;
    margin-top: 40%;

}


@keyframes fadeIn{
    0% {opacity: 0;}
    2%{ opacity: 100;}
    4%{opacity: 0}
    100%{
        opacity: 0;
        display: none;
    }
    
}



.crawler{
    color: #ffe81f;
    text-align: justify;
    font-family: "Star jedi", sans-serif;
    transform: perspective(350px) rotateX(25deg);
    animation: scrollcrawl 90s linear forwards;
    z-index: 3;
    position: absolute;
    grid-column: 1/1;
    grid-row: 1/1;
    margin-top: -500px;
}

@keyframes scrollcrawl{
    0%{
        transform: perspective(350px) rotateX(25deg) translateY(680px);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: perspective(350px) rotateX(25deg) translateY(-4000px);
        opacity: 0;
    }
}

#T{
    text-align: center;
    font-size: 75px;
}

#ST{
    text-align: center;
    font-size: 50px;
}

.text{
    font-size: 25px;
    margin-bottom: 100px;
}



.logo{
    width: 250px;
    display: block;
    z-index: 2;
    position: relative;
    margin: auto;
    grid-column: 1/1;
    grid-row: 1/1;
    animation: logo 240s ease-out;
}

@keyframes logo{
    0%{opacity: 0;}
    5%{
        opacity: 0;
        transform: scale(1.5); translate: (-0.75em);
    }
    6% {
        opacity: 1;
      }
    7% {
        opacity: 0;
        transform: scale(1);
      }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
      }
}