body{
    background-image: url(https://cdn.wallpapersafari.com/1/32/FpDfVZ.jpeg);
    background-size: cover;
    overflow: hidden;
}

#intro{
    color: #3ebddb;
    text-align: center;
    vertical-align: center;
    animation: fadeIn ease 14s;
    font-family: Star jedi,Arial, Helvetica, sans-serif;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    50%{ opacity: 100;}
    100%{opacity: 0;}
    
}

.crawler{
    color: #ffe81f;
    text-align: justify;
    font-family: Star jedi, Arial, Helvetica, sans-serif;
    margin:10%
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    font-size: 30px;
    margin-bottom: 100px;
}

img{
    width: 250px;
    position: 
}

.crawler{
    transform: perspective(250px) rotateX(20deg);
    animation: scrollcrawl 60s linear forwards;
}

@keyframes scrollcrawl{
    0%{
        transform: perspective(250px) rotateX(20deg) translateY(680px);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: perspective(250px) rotateX(20deg) translateY(-4000px);
        opacity: 0;
    }
}